#zero
{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: inline-block;
}
#one
{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: inline-block;
}
#two
{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: inline-block;
}
#three
{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: inline-block;
}
#four
{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: inline-block;
}
#five
{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: inline-block;
}
#six
{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: inline-block;
}
#seven
{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: inline-block;
}
#eight
{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: inline-block;
}